[package]
name = "meow"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
config = "0.14"
serde = { version = "1.0", features = ["derive"] }
dotenvy = "0.15"
